﻿/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require jquery.bxslider
*= require_self
*/

@charset "utf-8";

@-ms-viewport {
	width: auto !important;
}

@font-face {
    font-family: 'petrobras_sansregular';
    src: url('../fonts/petrobrassans_rg-webfont.eot');
    src: url('../fonts/petrobrassans_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/petrobrassans_rg-webfont.woff') format('woff'),
         url('../fonts/petrobrassans_rg-webfont.ttf') format('truetype'),
         url('../fonts/petrobrassans_rg-webfont.svg#petrobras_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'petrobras_sanslight';
    src: url('../fonts/petrobrassans_lt-webfont.eot');
    src: url('../fonts/petrobrassans_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/petrobrassans_lt-webfont.woff') format('woff'),
         url('../fonts/petrobrassans_lt-webfont.ttf') format('truetype'),
         url('../fonts/petrobrassans_lt-webfont.svg#petrobras_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'petrobras_sansbold';
    src: url('../fonts/petrobrassans-webfont.eot');
    src: url('../fonts/petrobrassans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/petrobrassans-webfont.woff') format('woff'),
         url('../fonts/petrobrassans-webfont.ttf') format('truetype'),
         url('../fonts/petrobrassans-webfont.svg#petrobras_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html:-webkit-full-screen, html:-webkit-full-screen body { height: 100%; }
html:-moz-full-screen, html:-moz-full-screen body { height: 100%; }
html:-ms-full-screen, html:-ms-full-screen body { height: 100%; }
html:-o-full-screen, html:-o-full-screen body { height: 100%; }
html:full-screen, html:full-screen body { height: 100%; }



body {
	font-family: Arial, Helvetica, sans-serif;
	background: #243242;
	color: #FFF;

}

a, a:hover {color: #FFF;}

button, input, optgroup, select, textarea  {
    color: #000;
}

/* HEADER */

h1 {
	font-family: 'petrobras_sansregular';
	display: inline-block;
	font-size: 1.6em;
	margin-top: 10px;
	float: left;
}

h1, h1 a, h1 a:hover, h1 a:visited, h1 a:focus {
	color: #FDC82F;
	text-decoration: none;
}


/*
 * Hacks for Internet Explorer because 20 years on and Microsoft still can't make a decent browser
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src*=".svg"] {
  width: 100%;
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
	width: 100%;
  }
  img[src*=".svg"] {
    width: 100%;
    height: 100%;
  }
  .fechar * img {
  	height: 22px!important;
  }
}
input::-ms-clear {
    display: none;
}

.form-buttons form{
	float:left;
	margin-right : 3px;
}

.topo {background:#000; height:55px;}
.titulo {float: left;}
.titulo .traco {
	display: inline-block;
	font-size: 1.6em;
	color: #FDC82F;
	clear: both;
	float: left;
	margin-top: -22px;
}
.titulo .subtitulo {
	margin-right: 1px;
  	font-size: 1em;
  	font-family: 'petrobras_sansregular';
  	color: #238DF7;
  	margin-top: -12px;
}

.usuario {
	margin: 15px 25px 0 0;
	font-size: 0.85em;
	padding-left: 30px;
	padding-top: 5px;
	min-height: 30px;
	color: #FC0;
	/*background: url("ico-user.svg") top left no-repeat;*/
	background-size: 24px auto;
}
.usuario span {
	margin-right: 5px
}

.admin .usuario {
	margin-top: 10px;
	padding-top: 0px;
}

.logo-petrobras {
	margin-top: 10px;
	background: url("logo-petrobras.svg") no-repeat;
	background-size: 160px auto;
	width: 160px;
	height: 34px;
}

.separador {clear: both;}

.rodape {
	border-top: 1px solid #CCC;
	font-size: 0.8em;
	color: #CCC;
	padding-top: 10px;
	margin: 20px 0;
}

.rodape span {
	background: url("../img/np3.png") top left no-repeat;
	background-size: 26px auto;
	width: 26px;
	height: 26px;
}

/* Menu e icones de funcionalidades */

.funcionalidades {
	float:left;
	margin-top: 14px;
	display: inline-block;
	margin-left: -20px;
}

.funcionalidades li {
	list-style-type: none;
	display: inline;
}

.funcionalidades > li > a {
	background-size: 22px auto;
	width: 22px;
	height: 22px;
}

.funcionalidades li a {
	/*padding: 2px 8px;*/
	margin: 0 6px;
	display: inline-block;
	/*color: #FFF;	*/
}

.funcionalidades li .f-alerta {
	background: url("ico-alerta.svg");
}

.funcionalidades li .f-alerta.ativo {
	background: url("ico-alerta-ativo.svg");
}

.funcionalidades li .f-status {
	background: url("ico-notif.svg");
}

.funcionalidades li .f-status.ativo {
	background: url("ico-notif-ativo.svg");
}

.funcionalidades li .f-grafico {
	background: url("ico-card.svg");
}

.funcionalidades li .f-grafico.ativo {
	background: url("ico-card-ativo.svg");
}

.funcionalidades li .f-tv {
	background: url("ico-tv.svg");
}

.funcionalidades li .f-tv.ativo {
	background: url("ico-tv-ativo.svg");
}

.funcionalidades li .f-wi-100 {
	background: url("ico-wi-100.svg");
}

.funcionalidades li .f-wi-100.ativo {
	background: url("ico-wi-100-ativo.svg");
}

.funcionalidades li .f-filtro {
	background: url("ico-filtro.svg");
}

.funcionalidades li .f-filtro.ativo {
	background: url("ico-filtro-ativo.svg");
}

.funcionalidades li .f-config {
	background: url("ico-config.svg");
}

.funcionalidades li .f-config.ativo {
	background: url("ico-config-ativo.svg");
}

.funcionalidades .dropdown-menu {
	top: 170%;
	/*min-width: 115px;*/
	margin: 0;
	padding: 0;
}

.dropdown-menu li .filtro {
	padding: 6px 10px;
	width: 100%;
	margin: 0;
}

.dropdown-menu .ativo {
	font-weight: bold;
	color: #F97A10;
	background: url('ico-check.png') center right 5px no-repeat;
}

.noticebar-menu .nav-header {
  padding: 2px 10px 5px 10px;
  font-weight: bold;
  color: #000;
}

.noticebar-menu > li {
  display: table;
  width: 100%;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px dotted #ccc;
}

li.noticebar-li-group {
  border-bottom: none;
}

.noticebar-menu > li > a.noticebar-active {
	font-weight: bold ;
}

.noticebar-menu > li:last-child {
  border-bottom: none;
}

li .noticebar-item {
	color: #666;
	width: 100%;
}

li .noticebar-item.ativo {
	color: #000;
	font-weight: bold;
}

li .noticebar-menu-view-all {
  padding-top: 7px;
  color: #F60;
}

li .noticebar-menu-view-all:hover {
  color: #06C;
  background: transparent;
}

@media (max-width: 360px) {
	.hidden-xs-360 {
		display: none !important ;
	}
}

@media (max-width: 450px) {
	.usuario {
		display: none ;
	}
}

@media (max-width: 768px){
	.usuario {
		padding-top: 0px;
        margin: 12px 5px 0 0;
        min-height: 0px;
	}
}

/* Ajustes do bootstrap */

.open .dropdown-toggle:after {
    content: '';
    position: relative;
    z-index: 1001;
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #FFF;
    position: absolute;
    bottom: -14px;
    left: 50%;
    margin-left: -9px;
  }

.badge-alerta {
  position: absolute;
  top: -19px;
  right: 0;
  font-size: 0.8em;
  padding: 2px 4px;
  background: #F00;
}

.badge {
	background:	transparent;
	font-weight: normal;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.ng-table-pagination {
	margin: 0;
}
.pagination > a:first-child, .pagination > span:first-child {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.pagination > a:last-child, .pagination > span:last-child {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.pagination > .currentStep, .pagination .currentStep:hover {
	z-index: 2;
	color: #ffffff;
	background-color: #337ab7;
	border-color: #337ab7;
	cursor: default;
}

.pagination > a:hover {
	color: #23527c;
	background-color: #eeeeee;
	border-color: #dddddd;
}

.pagination > a, .pagination > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #337ab7;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin-left: -1px;
}

/* Ajustes para admin */

.admin {
	background: #EFEFEF;
	color: #243242;
}

.admin h1, .admin h1 a, .admin h1 a:hover, .admin h1 a:visited {
	color: #FDC82F;
}

.admin a, .admin a:hover {
	color: #243242;
}

.admin .btn-primary {
   color: #ffffff;
}
.admin .hidden-checkbox {
	display: none;
}
.admin .uo-permission {
	padding: 0 3em 1em 3em;
	margin-bottom: 1em;
}
.admin .uo-checkbox {
	width: 20px;
  	height: 22px;
 	display: inline-block;
  	margin-right: 5px;
  	background-position-y: 2px;
  	background-repeat: no-repeat;
}
.admin .uo-checkbox.checked {
	background-image: url(/painelep/assets/checked18.svg)
}
.admin .uo-checkbox.unchecked {
	background-image: url(/painelep/assets/empty40.svg)
}
.admin .uo-selected {
	background: #dbe9ff;
	border: 1px #444 dashed;
}
.admin-uep-card, .admin-uep-permission-card {
	background: #fff;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
.admin-uep-permission-card {
	cursor: pointer;
}
.admin-uep-permission-card.selected {
	color: #ddd;
	background-color:#286090;
}
.admin-uep-permission-card.unchangeable {
	color: #777;
	cursor: not-allowed;

}
.admin-uep-permission-card.unchangeable.selected {
	color: #aaa;
	background-color: #457093
}
.admin-uep-card:hover {
	background: #eee;
}

.admin .ellipsis {
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.admin-uep-card-name {
	font-size: 15px;
	display: block;
}
.admin-uep-card-department {
	font-size: 12px;
	display: block;
}
.admin-uep-card-tag-link {
	color: #777;
	font-size: 10px;
	display:block;
}
.admin h2, .admin h3 {
	color: #777;
	font-family: 'petrobras_sansregular';
}

.admin-content-fluid {
	background: #fff;
	margin:40px 30px;
	padding: 20px 20px 20px 20px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
	float: none;
}

.admin-content {
	margin-bottom: 20px;
}

.admin-full-page {
	background: #fff;
	margin:0px auto;
	padding: 20px 20px 20px 20px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
	float: none;
	display: table;
}
.admin-line {
	border-top: 1px solid #ddd
}
.admin .admin-menu-link , .admin a:hover.admin-menu-link {
		color: #aaa;
}
.submenu {
	border-bottom: 1px solid #555;
	margin: 10px 0px;
	padding: 0px;
	font-family:'petrobras_sansregular'
}
.submenu .submenu-link-list {
		padding: 10px 5px;
		line-height: 1.8em;
}
.submenu-item.active {
		background: #161b1e;
}
.submenu-title {
	font-size: 1.3em;
}
body.admin {
	background: linear-gradient(to right, #21272c 0%, #21272c 17%, #ffffff 17%, #ffffff 100%);
}
body.uep-admin {
	/*background: #ffffff;*/
}

.admin-sidebar {
	background-color: #21272C;
	color: #aaa;
	padding-top: 25px;
}
.admin-sidebar .submenu {
	margin-left: 10px ;
}
.admin-sidebar .navbar-default {
	background: none;
	border: none;
}
.admin-title {
		color: #777;
		border-bottom: 1px solid #ddd;
		width: 100%;
		font-family:'petrobras_sansregular';
		padding: 0px 15px;
		margin-bottom: 20px;
}

/* Ajustes para TagPI */

.form-tag-filtros .form-inline {
	padding: 5px 0px;
	border-bottom: 1px solid whitesmoke;
}

.form-tag-filtros .form-group {
	margin-left: 5px ;
}

.form-tag-filtros .label-input-number {
	width: 210px;
    text-align: right;
}

.form-tag-filtros input[type=number] {
	width: 100px ;
}

.form-tag-filtro-linha {
	margin: 5px 0px ;
}

/* area das UOs */

.fundo-sse {
	background: #151b22;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	min-height: 60px;
	padding: 5px;
	margin: 10px 0;
}

.fundo-uo {
	background: #151b22;
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	min-height: 60px;
	padding: 5px;
	margin: 0;
}
.modal-uo{
	color: black;
}

.modal-uo .panel-body{
	display:none;
}

.modal-uo a{
	color: black;
	text-decoration: underline;
}

.modal-uo .subtitle-state{
	float:left;
	display:block;
	padding:5px;
	border: 1px solid;
	border-radius: 4px;
	margin-right: 3px;
	background-color: #f5f5f5;
 	border-color: #dddddd;
}

.subtitle-state.info{
	background-color: #d9edf7;
  	border-color: #bce8f1;
}

.subtitle-state.warning{
	background-color: #fcf8e3;
  	border-color: #faebcc;
}

.subtitle-modal{
  color: #31708f;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.modal-uo .label-error{
	background-color: #ee5615;
}

.subtitle-modal > span {
	margin-right: 10px;
}

.subtitle-modal .label {
	margin-right: 5px;
}

@media (min-width: 768px){
	.modal-uo{
		width:80% !important;
	}
}

.fundo-miolo {
	background: #151b22;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	min-height: 60px;
	padding: 5px;
	margin: 0 0 10px 0;
}

.tit-uo {
	color: #839CAA;
	font-size: 1.4em;
	padding-left: 30px;
	padding-right: 0;
}

.tit-preliminar {
	color: #9d22ff;
	font-size: 2em;
}

.tit-previsto {
	color: #cb8318;
	font-size: 2em;
}

.snapshot {
	font-size: 0.45em;
	opacity: 0.8;
	color:white;
}

.tit-vazao {
	color: #05a8fd;
	font-size: 2em;
}

.tit-24h {
	color: #FFF;
	font-size: 2.4em;
    margin-top: -6px;
}

.gip-link {
	max-width: 45px;
 	margin: 10px 5% 0 5%;
  	width: 25%;
}

.web-app-link {
	max-width: 64px;
 	margin: 15px 5% 0 5%;
  	width: 33%;
}

.tit-data {
	display:block;
	color: #86919b;
	font-size: 1.2em;
	padding-top: 16px;
	margin-bottom: 4px;
}

.online-mark {
	width: 15px ;
	height: 15px ;
	border-radius: 100% ;
	background-color: rgb(234, 70, 40) ;
	display: inline-block;
	margin: -1px 15px;
}
.online-mark.on {
	background-color: rgb(85, 215, 136) ;
}

.online-mark.animate {
	-webkit-animation: sk-rotateplane 0.5s infinite ease-in-out;
	animation: sk-rotateplane 0.5s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  from { -webkit-transform: perspective(30px) rotateY(0deg)  }
  to { -webkit-transform: perspective(30px) rotateY(180deg)  }
}

@keyframes sk-rotateplane {
  from {
    transform: perspective(30px) rotateY(0deg);
    -webkit-transform: perspective(30px) rotateY(0deg)
  }
  to {
    transform: perspective(30px) rotateY(-179.9deg);
    -webkit-transform: perspective(30px) rotateY(-179.9deg);
  }
}

.sse {
	/*font-family: 'petrobras_sansbold';*/
	color: #FFF;
	font-size: 1.3em;
	padding-top: 13px;
}

.tit-label, .tit-status {
	/*font-family: 'petrobras_sansregular';*/
	color: #a8b4bf;
	font-size: 0.8em;
	margin-top: -8px;
	margin-bottom: 0;
}

/* Gráficos de UEP's */

.grafico-uep {
    background: #21272c;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 1.5s ease-in;

}

.grafico-uep.alerta, .card.alerta {
    background: #A52A2A; /*#E86969*/
}

.grafico-uep.alerta-positivo, .card.alerta-positivo {
    background: #1E4408; /*#E86969*/
}

.header-uep {
	/*font-family: 'petrobras_sansregular';*/
    width: 100% ;
    padding: 4px 10px;
    height: 28px ;
    border-bottom: 1px solid #424b54;
}

.nomargin {
	margin: 0 -15px;
}

.chart {
	padding: 0 4px;
}

.chart-container {
	height: 180px ;
}

.detail {
    margin-top: 15px;
}

.detail .chart-container {
    height: 400px;
    margin-bottom: 25px;
}

.tit-uep, .config-uep {
    color: #ffffff;
}

.tit-uep {
    text-overflow: ellipsis;
    max-width: 55%;
    overflow: hidden;
    white-space: nowrap;
}

.tit-uep-detail {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.valor-uep {
	color: #fff;
    text-align: center;
}

.valor-uep.alerta {color: #FFF;}

.config-uep {
    background: url(ico-config.svg) no-repeat;
    background-size: 20px 20px ;
    background-position: center right;
    min-height: 20px ;
    min-width: 20px ;
}
.stopped-uep{
	color: #D7AB5D;
  	position:relative;
  	min-width: 17px ;
  	padding-top: 2px;
}

.card-uep .stopped-uep{
	font-size: 13px;
	margin-left: 0.3em;
}

.fundo-uo .stopped-uep {
	font-size: 25px;
  	margin-top: 10px;
  	margin-right: 5px;
}

.stopped-opacity {
	opacity: 0.5;
}

.stopped-opacity .stopped-uep {
		color: #F5EA6E;
}

.grafico-uep .highcharts-container {
    padding-top: 5px ;
}

/* Gráfico durante alerta */
.alerta .config-uep, .alerta-positivo .config-uep {
    background: url(ico-config-ativo.svg) no-repeat;
}

.alerta .header-uep {
	border-bottom: 1px solid #999;

}
.alerta-positivo .header-uep {
	border-bottom: 1px solid #666;
}

.alerta .highcharts-axis-labels text,
.alerta-positivo .highcharts-axis-labels text,
.alerta .highcharts-axis path,
.alerta-positivo .highcharts-axis path {
	fill: #fff !important ;
	color: #fff !important ;
}

.alerta .highcharts-axis path, .alerta-positivo .highcharts-axis path {
	stroke: #fff !important ;
}

/* Cards sem gráficos */

.glyphicon-refresh-animate {
    -animation: spin 1.0s infinite linear;
    -webkit-animation: spin2 1.0s infinite linear;
    margin-right:0.4em;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


.card {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	width: 96px;
	height: 55px;
	/*font-family: 'petrobras_sansregular';*/
	font-family: arial, helvetica, sans-serif;
	font-size: 9px;
	background: #27313A; /*21272C*/
	padding: 3px;
	color: #FFF;
	margin: 5px 2px;
	display: inline-block;
}

/* limitar o nome da UEP em 15 caracteres e colocar "..." */
.card-uep {
	text-align: left;
	clear: both;
	margin-bottom: 3px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.card-previsto {
	float: left;
	font-weight: bold;
	color: rgba(203, 131, 24, 1);
}

.card-24h {
	float: right;
	font-weight: bold;
	color: #FFF;
}

.card-preliminar {
	float: left;
	font-weight: bold;
	color: rgba(188, 77, 225, 1);
}

.card-vazao {
	float: right;
	font-weight: bold;
	color: #05a8fd;
}

.sitop {
	float: left;
	width: 45%;
	text-align: center!important;
	font-weight: bold;
	color: #FFB401;
	font-size: 8px;
}

.vazao {
	float: right;
	width: 55%;
	text-align: center!important;
	font-weight: bold;
	color: #FFB401;
	font-size: 8px;
	margin-top: -2px;
}

.indicadores {
	padding: 20px;
}

/* Ajustes para typeahead */

.tt-dropdown-menu {
	width: 100%;
	background: #fff;
	border: 1px solid #cccccc;
    border-radius: 0px 0px 4px 4px;
	-webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.58);
	-moz-box-shadow:    0px 4px 10px 0px rgba(50, 50, 50, 0.58);
	box-shadow:         0px 4px 10px 0px rgba(50, 50, 50, 0.58);
	padding: 6px 0px;
}

.tt-suggestion {
	cursor: pointer ;
	height: 30px ;
	line-height: 30px ;
	padding: 0px 12px;
}

.tt-suggestion p {
	margin-bottom: 0px;
}

.tt-suggestion:hover {
	background-color: #66afe9 ;
}

.indicadores img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.fechar {display:none;}

/* classes para fullscreen */

.fullscreen {background: #0E1217;}

.fullscreen .fundo-sse {
	background: none;
	margin: 3px 0;
	font-size: 0.8em;
	min-height: 25px;
	padding: 0;
	margin-bottom: -11px;
}

.fullscreen .fundo-uo {
	background: none;
	margin: 0;
	font-size: 0.55em;
	/*min-height: 25px;*/
	min-height: 0;
	padding: 0;
}

.fullscreen .fundo-miolo {
	background: none;
	/*height: 220px;*/
	margin: 0 0 0px 0;
	padding: 0px;
}

.fullscreen .sse {
	padding-top: 1px;
	margin: 0;
	width: 100px;
	font-size: 1.9em;
}

.fullscreen .topo, .fullscreen .fundo-uo .tit-label, .fullscreen .rodape{display: none;}

.global-legend {display: none;}

.fullscreen .global-legend {
	display: block;
	font-size: 0.8em;
	color: #CCC;
}

.fullscreen .snapshot {
	font-size: 0.75em;
  padding-left: 3px;
}

.fullscreen .slider-wrapper {
	white-space:nowrap;
	overflow: hidden;
}

.fullscreen .slider {
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
	overflow: hidden;
	position: relative;
	min-width: 100%;
   	transform-style: preserve-3d;
	transform: translateX(0%);
  	-ms-transform-style: preserve-3d;
	-ms-transform: translateX(0%);
	backface-visibility: hidden;
}

.fullscreen .slider-animated {
  	transition: 1.5s ease-in-out;
}

/*.slider-animated div {
	-webkit-transform: rotateX(360deg);
   	-moz-transform: rotateX(360deg);
   	-ms-transform: rotateX(360deg);
   	-o-transform: rotateX(360deg);
   	transform: rotateX(360deg);
}*/

.fullscreen .chart-hide {
	display: none;
}

.slider-indicator {
	display: none ;
}

.fullscreen .slider-indicator {
	display: block;
	width: 100%;
	height: 12px;
	font-size: 10px;
	margin-top: 3px;
	text-align: center;
}
.fullscreen .slider-indicator div {
	display: inline-block;
    color: #777;
  	width: 8px;
  	height: 8px;
  	background-color: #21272c;
  	margin: 0 2px;
  	border-radius: 2px;
	transition: background-color 1.5s ease-in;
}
.fullscreen .slider-indicator .alerta {
	background-color: #A52A2A;
}
.fullscreen .slider-indicator .alerta-positivo {
	background-color: #1E4408;
}

.fullscreen .slider-indicator .highlight {
	color: #FFF;
	background-color: #fff;
}



.slider-indicator-item {
	display: inline-block ;
	width: 10px ;
	height: 10px ;
	margin: 0px 5px;
}

.slider-indicator-item circle {
	fill: #3e4145 ;
    -webkit-transition: fill 0.5s linear;
    -moz-transition: fill 0.5s linear;
    -o-transition: fill 0.5s linear;
    -ms-transition: fill 0.5s linear;
    transition: fill 0.5s linear;
}

.slider-indicator-item.active circle {
	fill: #fff ;
}

.fullscreen .chart {
	width: 227px;
	float: none;
	display: inline-block;

}

.fullscreen .grafico-uep {
	margin: 0 5px 0px 5px;
}

.fullscreen .fechar {
	display: inline-block;
	position: absolute;
	top: 6px;
	right: 13px;
}

.fundo-sse .tit-data, .fundo-uo .tit-data{
	display:none;
}

.fullscreen .fundo-sse .tit-data, .fullscreen .fundo-uo .tit-data{
	display:block;
}

.fullscreen .tit-data {
	padding-top: 4px;
	font-size: 1.6em;
}

.fullscreen .fundo-uo .tit-preliminar {font-size: 2.4em;}
.fullscreen .fundo-uo .tit-previsto {font-size: 2.4em; }
.fullscreen .fundo-uo .tit-24h {font-size: 2.8em; margin-top: -2px;}
.fullscreen .fundo-uo .tit-vazao {font-size: 2.4em; }
.fullscreen .stopped-uep {
	padding-top: 0;
}

.modal-dialog {z-index:1041;}

.modal-title {font-size: 17px}
.modal-title .checkbox {
	font-size: 14px;
	margin-left:20px;
	margin-top: 0px; 
   	margin-bottom: 0px; 
}

.black-font {
	color: black;
}

/* Mobile */

@media screen and (min-width: 320px) and (max-width: 767px) {
	@-ms-viewport { width: 320px; }

	body {
		padding-left: 0px;
		padding-right: 0px;
		background: #FFF;
	}

	.topo {
		background: #7d9aaa;
		height: 40px;
	}

	h1 {font-size: 1.13em; color: #FFF; margin-top: 7px; margin-left: -5px;}

	.h1data {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		margin-top: -12px;
		margin-left: -5px;
		color: #c8d8e0;
		clear: both;
        float: left;
        min-width: 178px;
	}

	.titulo .subtitulo {
		margin-top: 0px;
		color: #c8d8e0;
	}

	.logo-petrobras {
		display: block;
		background: url("marca-petrobras.svg");
		background-size: 25px auto;
		width: 25px;
		height: 25px;
		float: right;
		margin-top: 7px;
	}

	.funcionalidades {
		margin: 9px 0 0 -26px;
	}

	.funcionalidades li a {margin: 0 6px;}

	.funcionalidades .dropdown-menu {
		top: 100%;
		margin-left: -150px;
		font-size: 0.8em;
		z-index: 9999;
		min-width: 50px;
	}

	.open .dropdown-toggle:after {z-index: 10000; bottom: -4px; left: 49%;}

	.badge-alerta {top: -15px;}

	.badge {
	  background: #D1D9DD;
	  border-radius: 4px;
	}

	.fundo-sse {
		background: #D1D9DD; /*#f0f2f3*/
		border: none;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		min-height: 50px;
		padding: 5px 5px 0 5px;
		margin: 0 -15px;
	}

	.fundo-uo {
		background: none;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		padding: 5px;
		margin: 0 -15px -30px -15px;
	}

	.fundo-miolo {
		background: none;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		padding: 5px;
		margin: 0 -15px -5px -15px;
	}

	.detail .chart-container {
	    height: 280px;
	}

	.tit-preliminar, .tit-previsto, .tit-vazao, .tit-24h {
		font-size: 1em;
		margin-left: -10px;
	}

	.tit-area-mobile {
		font-weight: bold;
		color: #3e4d55;
		font-size: 1.0em;
		margin: -3px 0 -4px 5px;
	}

	.tit-label, .tit-status {
		color: #727171;
		font-size: 0.7em;
		margin-top: -3px;
		margin-bottom: 0;
	}

	.tit-uo-mobile {
		color: #3e4d55;
		font-size: 1.0em;
		/*font-family: 'petrobras_sansregular';*/
		margin-top: 8px;
	}

	.grafico-uep {
	    background: #BACDD7;/*E4ECF0*/
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

	.grafico-uep.alerta, .grafico-uep.alerta-positivo {
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.grafico-uep.alerta, .card.alerta {
	    background: #C98080;
	}
	.grafico-uep.alerta-positivo, .card.alerta-positivo {
	    background: #87EA88;
	}

	.grafico-uep.alerta, .card.alerta {
	    background: #DBB0B0;
	}
	.grafico-uep.alerta-positivo, .card.alerta-positivo {
	    background: #87EA88;
	}
	.alerta .tit-uep a, .alerta-positivo .tit-uep a {
		color: #fff ;
	}

	.header-uep {
	    background: #A6BDC9;
		border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-webkit-border-top-right-radius: 5px;
	    border-bottom: none;
	    color: #FFF;
	}

	.alerta .header-uep {
	    background: #B34D4D;
	    color: #FFF;
	}

	.alerta-positivo .header-uep {
	    background: #5FBB55;
	    color: #FFF;
	}
	.config-uep {
		display:none;
	}

	.detail .config-uep {
		display:block;
	}

	.tit-uep a {
	    color: #435B67;
	}

	.stopped-opacity .tit-uep a {
		color: black;
	}

	.tit-uep.alerta a {
	    color: #FFF;
	}

	.valor-uep {
		    color: #ffffff;
		    text-align: right;
		    font-size: 1.4em;
		    margin-top: -4px;
			padding-right: 25px;
	}

	.valor-uep.alerta {
		    color: #FFF;
	}

	.card {
			background: #BACDD7; /*#C5D7E0; #E4ECF0*/
			font-size: 11px;
			padding: 3px 6px;
	}

	.card a {color: #435B67;}

	.card-previsto {
		color: #20862F;
	}

	.rodape {
		color: #666;
		font-size: 0.7em;
		padding: 5px 0;
		margin: 10px 0 0 0;
	}

	.online-mark {

		width: 10px ;
		height: 10px ;
		border-radius: 100% ;
		background-color: rgb(234, 70, 40) ;
		display: inline-block;
		margin: -1px 5px;

	}
	.stopped-uep {
		color: gray;
	}
	.stopped-opacity .stopped-uep {
		color: black;
	}

	.card-uep .stopped-uep{
  		min-width: 11px ;
  		padding-top: 0px;
	}

	.card-uep .stopped-uep{
		font-size: 11px;
		margin-left: 0.3em;
	}

	.admin-sidebar {
		background-color: inherit;
		color: inherit ;
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.admin-sidebar .navbar-default {
		background-color: #f8f8f8;
		border: 1px solid #e7e7e7;
	}

	.admin .admin-menu-link, .admin a:hover.admin-menu-link, .navbar-default .navbar-brand {
		color: inherit ;
	}

	body.admin {
		background: inherit ;
	}
}

/*
	make sidebar nav vertical
	src: http://www.jonathanbriehl.com/2014/01/17/vertical-menu-for-bootstrap-3/
*/
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	@-ms-viewport { width: 768px; }

	.logo-petrobras {
		display: block;
		background: url("marca-petrobras.svg");
		background-size: 25px auto;
		width: 25px;
		height: 25px;
		float: right;
		margin-top: 15px;
	}

	.tit-uo {
		font-size: 1em;
		padding-top: 13px;
	}

	.tit-preliminar, .tit-previsto, .tit-vazao {
		font-size: 1.4em;
		margin-top: 8px;
	}

	.tit-24h {
		font-size: 1.6em;
		margin-top: 6px;
	}


	.fundo-sse, .fundo-uo {min-height: 52px;}

	.sse {
		font-size: 1em;
		margin-top: -3px;
		margin-bottom: 0;
		max-width: 108px;
		display: inline-block;
	}

	.fundo-uo .stopped-uep {
		font-size: 17px;
  		margin-top: 10px;
  		margin-right: 5px;
	}

	.tit-label, .tit-status {margin-bottom: 0;}
}

/*full HD*/

@media screen and (min-width: 1920px) and (max-width: 1920px) {
	.card {
		width: 162px;
		font-size: 16px;
		height: 80px;
		padding: 6px;
	}

	.card-24h {
		font-size: 18px;
	}

	.fullscreen .slider-wrapper {
		width: 1880px;
		margin: 0 auto;
	}

	.fullscreen .slider {
		font-size: 0px;
	}

	.fullscreen .chart {
		min-width: 235px;
		width: 235px;
		padding-left: 0px;
		padding-right: 0px;
		font-size: 15px;
	}

	.fullscreen .card-previsto, .fullscreen .card-vazao, .fullscreen .card-preliminar, .fullscreen .card-24h {
		font-size: 1,25em;
	}

	.fullscreen .chart-container {
		height: 179px;
	}

}
@media screen and (min-width: 1024px) and (max-width: 1270px) {
	.card {
		width: 113px;
		font-size: 11px;
		height: 65px;
	}

	.card-24h {
		font-size: 13px;
	}

	.fullscreen .slider-wrapper {
		width: 1000px;
		margin: 0 auto;
	}

	.fullscreen .slider {
		font-size: 0px;
	}
	.fullscreen .chart {
		min-width: 125px;
		width: 125px;
		padding-left: 0px;
		padding-right: 0px;
		font-size: 11px;
	}
	.fullscreen .chart-container {
		height: 114px;
	}

	.fullscreen .header-uep {
		height: 22px;
	}

	/* dealing with this width using an Axe, be careful from now on*/
	.fullscreen .config-uep {
		min-width: 14px;
		min-height: 14px;
		background-size: 14px 14px;
	}

	.highcharts-axis-labels.highcharts-xaxis-labels * {
		font-size:6px!important;
	}
	.highcharts-axis-labels.highcharts-yaxis-labels * {
		font-size:7px!important;
	}
	.tit-label {
		margin-top: -2px;
		margin-bottom: 0px;
		font-size: 9px;
	}

	.fechar * img {
		height: 17px;
	}

	.fullscreen {
		font-size: 10px;
		height: 100vh;
	}
	/*Not using the Axe anymore*/

}

/* HD */
@media screen and (min-width: 1271px) and (max-width: 1439px) {
	.card {
		width: 128px;
		font-size: 13px;
		height: 65px;
	}

	.card-24h {
		font-size: 15px;
	}

	.fullscreen .slider-wrapper {
		width: 1240px;
		margin: 0 auto;
	}

	.fullscreen .slider {
		font-size: 0px;
	}
	.fullscreen .chart {
		min-width: 155px;
		width: 155px;
		padding-left: 0px;
		padding-right: 0px;
		font-size: 11px;
	}
	.fullscreen .chart-container {
		height: 110px;
	}

	.fullscreen .header-uep {
		height: 22px;
	}

	/* dealing with this width using an Axe, be careful from now on*/
	.fullscreen .config-uep {
		min-width: 14px;
		min-height: 14px;
		background-size: 14px 14px;
	}

	.highcharts-axis-labels.highcharts-xaxis-labels * {
		font-size:7px!important;
	}
	.highcharts-axis-labels.highcharts-yaxis-labels * {
		font-size:9px!important;
	}
	.tit-label {
		margin-top: -2px;
		margin-bottom: 0px;
		font-size: 9px;
	}

	.fechar * img {
		height: 17px;
	}

	.fullscreen {
		font-size: 10px;
		height: 100vh;
	}
	/*Not using the Axe anymore*/

}

/* 900p monitors */
@media screen and (min-width: 1440px) and (max-width: 1679px) {
	.card {
		width: 144px;
		font-size: 13px;
		height: 65px;
	}

	.card-24h {
		font-size: 15px;
	}

	.fullscreen .slider-wrapper {
		width: 1408px;
		margin: 0 auto;
	}

	.fullscreen .slider {
		font-size: 0px;
	}
	.fullscreen .chart {
		min-width: 176px;
		width: 176px;
		padding-left: 0px;
		padding-right: 0px;
		font-size: 12px;
	}
	.fullscreen .chart-container {
		height: 145px;
	}
	.fullscreen .header-uep {
		height: 24px;
	}

	.fullscreen .config-uep {
		min-width: 17px;
		min-height: 17px;
		background-size: 17px 17px;
	}

	.fullscreen {
		font-size: 12px;
		height: 100vh;
	}
}

/* 1050p monitors */
@media screen and (min-width: 1680px) and (max-width: 1919px) {
	.card {
		width: 147px;
		font-size: 13px;
		height: 65px;
	}

	.card-24h {
		font-size: 15px;
	}

	.fullscreen .slider-wrapper {
		width: 1656px;
		margin: 0 auto;
	}

	.fullscreen .slider {
		font-size: 0px;
	}
	.fullscreen .chart {
		min-width: 207px;
		width: 207px;
		padding-left: 0px;
		padding-right: 0px;
		font-size: 14px;
	}
	.fullscreen .chart-container {
		height: 156px;
	}
}
